/AddTwoNum.class
/CountDigitsofaNumb.class
/FindEvenorOdd.class
/FindMaximumof3number.class
/Oparetors.class
/Oparetorspp1.class
/Oparetorspp2.class
/SimpleInterest.class
/oparetorspp3.class
/palindromeNumber.class
/FruitCostCalculator.class
