/AddTwoNum.class
/CountDigitsofaNumb.class
/FindEvenorOdd.class
/FindMaximumof3number.class
/Oparetors.class
/Oparetorspp1.class
/Oparetorspp2.class
/SimpleInterest.class
/oparetorspp3.class
/palindromeNumber.class
/FruitCostCalculator.class
/MarkCalculation.class
/salarycal.class
/temperaturecalculation.class
/areacalculation.class
/positivenegativechek.class
/VotingEligibility.class
/variableclass.class
/FindNthTerm.class
/evenoddwithfour.class
/bonuseligible.class
/datatypeget.class
/validTrianglecheck.class
/NumberSignDivisibility.class
/loginvalidation.class
/studentdetailsdisplay.class
